@font-face {
  font-family: main;
  src: url(fonts/Artifakt Element Bold.ttf);
}

@keyframes slide {
    0%  {
        opacity: 0;
            
    }
    100%{
        opacity: 1;
    }
}

body {
    background-image: linear-gradient(180deg, #e8e8e8, #8b8b8b);
    background-repeat: no-repeat;
    background-color: #696969;
    margin: 0px;
    padding: 0px;
    overflow-y: hidden;
    height: 100vh;
}

img#logo {
    width: 240px;
}

section {
    color: #000;
    width: 100%;
    font-family: "main", sans-serif;
    text-transform: uppercase;
    text-align: center;
    user-select: none;
}

section#header {
    font-size: 20px;
    line-height: 10px;
    position: fixed;
    top: 25vh;
    transition: all 0.3s linear;
}

@media (max-width: 800px){
    section#header {
        font-size: 15px;
        transition: all 0.3s linear;
        top: 15vh;
    }
}

section#footer {
    font-size: 12px;
    position: fixed;
    bottom: 0px;
}

h1, h2, p, a {
    animation-name: slide;
    animation-duration: 5s;
    animation-fill-mode: both;
}

h2, p, a {
    animation-delay: 2s;
    animation-duration: 2s;
}

p, a {
    font-size: 14px;
}

a, a:visited {
    color: #cecece;
    padding: 2px 15px 2px 15px;
    background-color: #000;
    text-decoration: none;
}