@font-face {
  font-family: main;
  src: url(fonts/Artifakt Element Bold.ttf);
}

@keyframes slide {
    0%  {
        opacity: 0;
            
    }
    100%{
        opacity: 1;
    }
}

body {
    background-image: linear-gradient(180deg, #a8a8a8, #454545);
    background-repeat: no-repeat;
    background-color: #696969;
    margin: 0px;
    padding: 0px;
    overflow-y: hidden;
    height: 100vh;
}

section {
    color: #e8e8e8;
    width: 100%;
    font-family: "main", sans-serif;
    text-transform: uppercase;
    text-align: center;
    user-select: none;
}

section#header {
    font-size: 20px;
    line-height: 10px;
    position: fixed;
    top: 25vh;
}

section#footer {
    font-size: 12px;
    position: fixed;
    bottom: 0px;
}

h1, h2, p {
    animation-name: slide;
    animation-duration: 5s;
    animation-fill-mode: both;
}

h2 {
    animation-delay: 3s;
    animation-duration: 2s;
}